# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data & Models (too large for git)
*.csv
*.pth
*.pkl
data/*.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/